@import "/app/variables.scss";

  .container {
    background-color: #F9F9F9;
    @include container;

    .content {
      @include max-width-container;

      .headingContainer {
        @include h1-container;
        
        .viewButton {
          button {
            display: none;
          }
        }
      }

      .articlesContainer {
        @include articles-container;
      }
    }

    .mobileViewButton {
      @include primary-btn;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  @media (min-width: 550px) {
    .container {
      .content {
        .headingContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .viewButton {
            button {
              @include tertiary-btn;
              display: flex;
              gap: 10px;
              align-items: center;
              i {
                height: 24px;
              }
            }
          }
        }

        .mobileViewButton {
          display: none;
        }
      }
    }
  }