  @import "/app/variables.scss";
  
  .container {
    @include container;
    @include max-width-container;
    .contentContainer {
      .headingContainer {
        @include h1-container;

        .underline {
          @include underline(4px, 72px);
        }
      }

      .textContainer {
        p {
          @include text(400, 22px);
        }

        :nth-child(2), 
        :nth-child(3) {
          margin-top: 24px;
        }
      }
    }

    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 400px;
      margin-top: 70px;
      height: auto;
    }
  }

  @media (min-width: 900px) {
    .container {
      display: flex;
      align-items: center;
      gap: 70px;

      img {
        margin: 0px;
        max-width: 400px;
      }
    }
  }

  @media (min-width: 1300px) {
    .container {
      gap: 120px;
      .contentContainer {
        .textContainer {
          :nth-child(2), 
          :nth-child(3) {
            margin-top: 40px;
          }
        }
      }

      img {
        max-width: 552px;
      }
    }
  }

