@import '/app/variables.scss';

.pdfViewer {
  @include container;
  @include max-width-container;

  .headingContainer {
    @include h1-container;

    h2 {
      @include h2;
    }

    p {
      margin-top: 8px;
    }

    .underline {
      @include underline(5px, 25px)
    }
  }


  .pdf {
    height: 90vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    
  }
}


