@import "../../app/variables.scss";

.embla {
  overflow: hidden;
  
  .emblaContainer {
    display: flex;
    gap: 20px;

    .singleArticleShort {
      width: 220px;
      @include article-slide-text;

      h3 {
        @include h3;
        margin-top: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        @include text(400);
      }

      .underline {
        @include underline(16px, 20%);
        margin-bottom: 16px;
      }
    }
  }
}
