@import "../../app/variables.scss";

.embla {
  overflow: hidden;
  
  .emblaContainer {
    display: flex;
    gap: 20px;

    .singleArticle {
      width: 220px;
      @include article-slide-text;

      h3 {
        @include h3;
        margin-top: 16px
      }

      .underline {
        @include underline(16px, 20%);
        margin-bottom: 16px;
      }
    }
  }
}
