@import "../../app/variables.scss";

.nav {
  @include nav-container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: absolute;

  .logo {
    @include logo;
  }

  button {
    @include reset-btn;
  }
}
