@import "../../app/variables.scss";

.nav {
  @include nav-container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .logo {
    @include logo;
  }

  button {
    @include reset-btn;
  }
}

@media (max-width: 365px) {
  .nav {
    width: 365px;
  }
}
