@import "../app/variables.scss";

.hero {
  background-color: #b8b8b8;
  height: 100vh; /* Change height depending on how illustration looks */
}

.mainContainer {
  h1 {
    @include h1;
  }

  .aboutContainer {
    @include container;
    @include max-width-container;
    .aboutContentContainer {
      .headingContainer {
        @include h1-container;

        .underline {
          @include underline(4px, 72px);
        }
      }

      .aboutTextContainer {
        p {
          @include text(400, 22px);
        }

        :nth-child(2), 
        :nth-child(3) {
          margin-top: 24px;
        }
      }
    }

    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 400px;
      margin-top: 70px;
      height: auto;
    }
  }

  .articleContainer {
    background-color: #F9F9F9;
    @include container;

    .articleContent {
      @include max-width-container;

      .shortArticlesContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
      }
    }

    .articlesHeading {
      @include h1-container;
      
      .viewButton {
        button {
          display: none;
        }
      }
    }

    .mobileViewButton {
      @include primary-btn;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  .findOutMoreContainer {
    @include container;
    @include max-width-container;

    // "Find Out More" Card
    .card {
      background: linear-gradient(#222222, #3D3C3C);
      border-radius: 8px;
      text-align: center;
      color: white;
      padding: 50px 0px;

      h1 {
        padding-bottom: 24px;
      }

      p {
        @include text(400, 20px);
        padding: 0px 24px;
      }

      img {
        margin: 70px 0px;
      }

      button {
        @include secondary-btn;
      }
    }
  }
}

@media (min-width: 550px) {
  .mainContainer {
    .articleContainer {
      .articleContent {
        .articlesHeading {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .viewButton {
            button {
              @include tertiary-btn;
              display: flex;
              gap: 10px;
              align-items: center;
              i {
                height: 24px;
              }
            }
          }
        }

        .mobileViewButton {
          display: none;
        }

        .shortArticlesContainer {
          grid-template-columns: 1fr 1fr;
          gap: 48px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .mainContainer {
    .aboutContainer {
      display: flex;
      align-items: center;
      gap: 70px;

      img {
        margin: 0px;
        max-width: 400px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .mainContainer {
    .articleContainer {
      .articleContent {
        .shortArticlesContainer {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .mainContainer {
    .aboutContainer {
      gap: 120px;
      .aboutContentContainer {
        .aboutTextContainer {
          :nth-child(2), 
          :nth-child(3) {
            margin-top: 40px;
          }
        }
      }

      img {
        max-width: 552px;
      }
    }
  }
}